

<div class="card mt-4" #TopCategoriessCardRef>
  <h2 class="card-header">
    Top Selling Categories
  </h2>

    <ngx-charts-pie-chart
      [view]="view"
      [results]="topSellingCategoriesData"
      (window:resize)="onResize(TopCategoriessCardRef)"
      [gradient]="gradient"
      [legend]="false"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"

    >
  </ngx-charts-pie-chart>
</div>
