

<div class="card mt-4" #TopCategoriessCardRef>
  <h2 class="card-header">
    Top Selling Categories
  </h2>

  <ng-container *ngIf="topSellingCategoriesData && topSellingCategoriesData.length > 0" >
    <ngx-charts-pie-chart
      [view]="view"
      [results]="topSellingCategoriesData"
      (window:resize)="onResize(TopCategoriessCardRef)"
      [gradient]="gradient"
      [legend]="false"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
      (activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
    >
    </ngx-charts-pie-chart>
  </ng-container >

  <ng-container *ngIf="topSellingCategoriesData && topSellingCategoriesData.length == 0" >
    <app-empty-list message="No categories products were sold this month" class="mb-2"></app-empty-list>
  </ng-container>

</div>
