
<div class="card" #chartCard>
  <div class="card-header">
    <h2>
      Monthly Sales
    </h2>
  </div>
  <!-- <div class="card-body"> -->
    <ngx-charts-bar-vertical
    [results]="yearlySalesList"
    [view]="view"
    (window:resize)="onResize(chartCard)"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legend]="false"
    class="d-flex justify-content-center charts-component"
    >
  </ngx-charts-bar-vertical>
  <!-- </div> -->

</div>

