
<div class="loading" *ngIf="loading">
  <app-loading></app-loading>
</div>


<div *ngIf="!loading">

  <form [formGroup]="productForm" (ngSubmit)="updateProduct()">

    <div class="container mt-4">
        <mat-card class="edit-product-card">

          <mat-card-header class="d-block mb-5">
            <h1>
              Edit Product
            </h1>
            <hr />
          </mat-card-header>

          <mat-card-content class="mb-4">

            <div class="row">

              <div class="col-md-4 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>name</mat-label>
                  <input matInput formControlName="name">
                  <mat-error *ngIf="hasError('name')">Name is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>price</mat-label>
                  <input matInput formControlName="price">
                  <mat-error *ngIf="hasError('price')">Price is required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 col-sm-6">
                <mat-form-field appearance="fill">
                  <mat-label>Filter By Category</mat-label>
                  <mat-select formControlName="categoryId" [value]="product.categoryId">
                    <mat-option *ngFor="let category of categoriesList" [value]="category.id">
                      {{ category.name }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="hasError('categoryId')">Category is required</mat-error>
                </mat-form-field>
              </div>

              <div class="mb-4 col-md-4">
                <mat-label>Product Image: </mat-label>
                <input type="file" (change)="uploadFile($event)" class="mt-2" />
                <img [src]="imgUrl || (imagesPath + product.path)" alt="product image" class="mt-2 w-100 product-image"/>
              </div>

              <div class="mb-4 col-md-4 mt-2">
                <section class="example-section">
                  <mat-checkbox class="example-margin" formControlName="isPopular" color="primary">Is isPopular</mat-checkbox>
                </section>
              </div>

          </div>

          </mat-card-content>

          <mat-card-actions>

            <div class="d-flex justify-content-between card-actions">
              <button mat-raised-button color="primary" class="py-1 px-5" type="submit" [disabled]="formNotValid()">submit</button>
              <div class="d-flex card-actions">
                <button type="button" mat-raised-button color="warn" class="py-1 px-5 delete-button" (click)="revmoeProduct(id)">delete</button>

                <button mat-stroked-button color="primary" class="m-0 p-0" type="button">
                  <a  routerLink="/products" class="d-block py-1 px-5 ">
                    cancel
                  </a>
                </button>
              </div>
            </div>
          </mat-card-actions>

        </mat-card>
    </div>
  </form>
</div>
