<h1 mat-dialog-title>Add New Category</h1>

<div mat-dialog-content>
  <form class="example-form" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="hasError('name')">Name is required</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button
    mat-button
    mat-dialog-close color="primay"
    type="submit"
    (click)="addCategory()"
    [disabled]="hasError('name')"
  >
  Submit
</button>

  <button mat-button mat-dialog-close color="success" >Cancel</button>
</div>
