

<ng-container *ngIf="! isListEmpty(this.appUsersList)">

  <div class="table-container ">
    <table mat-table [dataSource]="appUsersList" tabindex="0">

      <!-- Trash Header Column -->
      <ng-container matColumnDef="totalSelections">
        <th mat-header-cell *matHeaderCellDef colspan="1" class="delete-header">
          <span (click)="removeAppUsers(userSelection.selected)"
                class="icon-container main-delete-icon"
                *ngIf="! isSelectionsEmpty()"
                >
            <mat-icon class="delete-icon">
              delete
            </mat-icon>
          </span>
        </th>
      </ng-container>

      <!-- Selected Count Header Column -->
      <ng-container matColumnDef="actions-spacer">
        <th mat-header-cell *matHeaderCellDef colspan="4" >
        </th>
      </ng-container>

      <!-- Selected Count Header Column -->
      <ng-container matColumnDef="trash">
        <th mat-header-cell *matHeaderCellDef colspan="1" class="selected-count__header">
          <p *ngIf="! isSelectionsEmpty()" class="selected-count__text">
             selected {{ selectionsCount() }}
          </p>
        </th>
      </ng-container>

      <!-- Selection Column -->
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
          [checked]="isSelectionsToggeld(appUsersList)"
          [indeterminate]="isToggleSelectionsIndeterminate(this.appUsersList)"
          (change)="toggleSelections(this.appUsersList)"
        >
        </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox
            [checked]="isItemChecked(element)"
            (change)="toggleSelection(element)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- user name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef> Date Created </th>
        <td mat-cell *matCellDef="let element"> {{element.createdAt | date: 'y' || null}} </td>
      </ng-container>

      <!-- details Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> Details </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/users', element.id]" class="icon-container">
            <mat-icon color="red">
              remove_red_eye
            </mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['trash', 'actions-spacer', 'totalSelections']" class="actions-row"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr  mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  </div>

</ng-container>

<ng-container *ngIf="isListEmpty(appUsersList)">
  <app-empty-list listName="users"></app-empty-list>
</ng-container>

