<div  *ngIf="isLoggedIn()">
  <input (input)="searchItems($event)"
         class="search-items__input"
         placeholder="Type here to search"
         (focus)="searchItems($event)"
         (blur)="onBlur($event)"
  />
  <div class="search-items__container">
    <ul class="search-items__list">
      <li *ngIf="categorySearchList" class="text-start search-items__inner-list">
        Categories
        <ul class="search-items__list">
          <li *ngFor="let category of categorySearchList">
            <a class="search-items__item" [routerLink]="['/categories', category.id]" >
              {{ category.name }}
            </a>
          </li>
        </ul>
      </li>
      <li *ngIf="productsSearchList" class="text-start search-items__inner-list">
        Products
        <ul class="search-items__list">
          <li *ngFor="let product of productsSearchList">
            <a class="search-items__item" [routerLink]="['/products', product.id]">
              {{ product.name }}
           </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
