
<app-loading *ngIf="loading$ | async"></app-loading>


<ng-container *ngIf="! (loading$ | async)">

  <app-table-search></app-table-search>

  <div class="d-flex justify-content-between align-items-center table-filter">
    <button
      mat-raised-button
      color="primary"
      class="mb-2 add-button"
      (click)="openAddDialog('0ms', '0ms')"
      >
      Add User
    </button>
  </div>

  <ng-container *ngIf="(appUsersList$ | async) as appUsersList">
    <app-app-users-table
      (appUsersRemoved)="removeAppUsers($event)"
      (userSelectionFilled)="fillSelections($event)"
      (userSelectionCleared)="clearSelections()"
      (userSelectionItemToggled)="toggleSelection($event)"
      [displayedColumns]="displayedColumns"
      [appUsersList]="appUsersList"
      [userSelection]="usersSelectionModel"
    >
    </app-app-users-table>

  </ng-container>

  <app-empty-list
    *ngIf="! (appUsersList$ | async) as appUsersList"
    message="Users list is empty">
  </app-empty-list>

</ng-container>

