
<div class="row product-cards">

    <div *ngFor="let product of productsList" >
      <mat-card class="product-card">
        <div class="image-container">
          <img class="product-image" [src]="imagesPath +  product.path" alt="product image">
        </div>
        <mat-card-content class="mt-2">
          <h2
            class="category-name"
          >
            name: {{ product.name }}
          </h2>
          <h3 class="category-price">price: {{ product.price }} S.P</h3>
        </mat-card-content>
        <mat-card-actions class="mt-auto">
          <a [routerLink]="['/products', product.id]">
            <button mat-raised-button color="primary" class="w-100">Details</button>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

</div>


