

.back-drop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);

}

.main-content {
  min-height: calc(100% - 64px);
  display: flex;

  @media screen and (max-width: 900px) {
    display: block;
    height: auto;

  }

  &__aside {
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
    color: black;
    flex: 0 0 250px;
  }

  &__content {
    flex: 1;
    min-width: 0;
  }

  &__container {
    margin: 3rem 2rem;

  }

}
