

.back-drop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);

}

.main-content {
  min-height: calc(100% - 64px);
  display: flex;

  @media screen and (max-width: 900px) {
    display: block;
    height: auto;

  }

  &__aside {
    background-color: white;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.4);
    color: black;
    flex: 0 0 250px;
  }

  &__content {
    flex: 1;
    min-width: 0;
  }

  &__container {
    margin: 3rem 2rem;

  }

}

.scroll-container {
  display: flex;
  gap: 2rem;

  /*
* These two properties force the element to be a
scrolling
* container. The value of overflow should be auto or
scroll
*/
width: 100vw;
overflow-x: auto;
scroll-snap-type: x mandatory;

}
/*
* Makes the element a Scroll Snap container
*/
.scroll-container p {
/*
* Makes every flex item exactly 40vw. The total width of
* the children overflows the width of the container
*/
flex: 0 0 40vw;

scroll-snap-align: none center;

}
/*
* Where to snap after scrolling
*/
