

<div class="loading" *ngIf="loading">
  <app-loading></app-loading>
</div>


<div  *ngIf="!loading">

  <div class="d-flex justify-content-between align-items-center table-filter">
    <button
      mat-raised-button
      color="primary"
      class="mb-2 add-button"
      (click)="openAddDialog('300ms', '300ms')"
      >
      Add Product
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Filter By Category</mat-label>
      <mat-select (selectionChange)="filterProducts($event)" [value]="categoryId">
        <mat-option [value]="0">None</mat-option>
        <mat-option *ngFor="let category of CategoriesSelectList" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="productsList && productsList.length > 0">
    <app-products-table
    [productsList]="productsList"
    [columnNames]="displayedColumns"
    >
    </app-products-table>

    <mat-paginator
      [length]="totalCount"
      [pageSize]="pageSize"
      [pageSizeOptions]="[pageSize]"
      (page)="changePage($event)"
      [pageIndex]="pageNumber - 1"
      aria-label="Select page"
      class="mt-2 mb-3"
    >
  </mat-paginator>
  </ng-container>

  <ng-container *ngIf="productsList && productsList.length == 0">
    <app-empty-list message="Products list is empty"></app-empty-list>
  </ng-container>

</div>

